
.menu {
    background-color: #ffffff;
    height: 50px;
}

li{
    padding-left: 90px;
}
.ColPad{
	background-color: #ffffff;
	margin-bottom:25px;
	padding-bottom:20px;
	border-radius:80px;
	width:90%;
	margin-right:0.1%;
}
.col-md-4{
}
.error{
	position:relative;
	top:-5px;
}
body {
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    overflow: hidden;
    opacity: 1;;

}
.img{
    width: 40%;

}
html, body{
	width:100%;
	height:100%;
}
.caixa{
    padding: 50px;
    text-align: center;
    overflow:scroll;
    width:100%;
    height:90%;
}
.img2{
    padding-bottom: 10px;
    padding-top: 30px;
}
.tudo{
    background-color: #5CACEE;
    height: 100%;

}
