<html>
	<head>
		<title>Cadastro - TaNaMesa</title>
        <link href="cadastro.css" rel="stylesheet">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
        <div class="menu">
            <ul class="nav nav-pills">
                <li role="presentation"><a href="../index.php">Home</a></li>
                <li role="presentation"><a href="../Controller/Buscar.php">Receitas</a></li>
                <li role="presentation"><a href="#">Cadastro</a></li>
                <li role="presentation">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
		<div class="cadastro">
            <form name="formularioCadastro" class="form-inline" method="POST" action="../Servlet/ServletCadastro.php">
                    <label>Nome</label></label>
                    <div class="">
                    	<input type="text" class = "form-control" placeholder="Nome" name="Nome" >
                    </div>
                    <label>Sobre Nome:</label>
                    <div class="">
                    	<input type="text" class = "form-control" placeholder = "Sobre Nome" name="SobreNome">
                    </div>
                    <label>Login</label>
                    <div class="">
                    	<input type = "text" class = "form-control" placeholder = "Login" name="Login">
					</div>
                    <label>Senha</label>
                    <div class="">
                    	<input type = "password" class = "form-control" placeholder = "Senha" name = "Email">
                    </div>
                    <label>E-mail</label>
                    <div class="">
                    	<input type = "text" class = "form-control" placeholder = "Email" name = "Email">
                    </div><br>
                    <input type="submit" class="btn btn-default" name="Enviar" value = "Cadastrar">
		    </form>
        </div>
	</body>
</html>