<html>
	<head>
		<title>Cadastro - TaNaMesa</title>
	</head>
	<body>
		<form name="formularioCadastro" method="POST">
		
			<input type="text" placeholder="Nome" name="Nome"><br>
			<input type="text" placeholder = "Sobre nome" name="SobreNome"><br>
			<input type = "text" placeholder = "Login" name="Login"><br>
			<input type = "password" placeholder = "Senha" name = "Email"><br>
			<input type = "text" placeholder = "Email" name = "Email"><br>
			<input type="submit" name="Enviar" value = "Cadastrar">
		</form>
	</body>
</html>