<!-- BEGIN: main -->
<html>
	<head>
		 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../view/receita.css" rel="stylesheet">
		<!-- BEGIN: controlador -->
		<script>
			var contPasso = -1;
			var maxPasso = {maxPasso}+1;
			function proximoPasso (){
				if (contPasso != maxPasso){
					document.getElementById (contPasso+"Passo").style.display = "none";
					contPasso++;
					document.getElementById (contPasso+"Passo").style.display = "block";
				}
			}
			
			function contagem (idPasso){
				var valor = document.getElementById (idPasso+"contadorPasso").innerText;
				var arrayTempoString = valor.split(":");
				var time = [parseInt(arrayTempoString[0]), parseInt(arrayTempoString[1]), parseInt(arrayTempoString[2])];
				if (time[2]!=0){
					time[2]--;
					document.getElementById((idPasso+"contadorPasso")).innerText = time[0]+":"+time[1]+":"+time[2];
					setTimeout(contagem,1040,idPasso);
				}else{
					if (time[1]!=0){
						time[1]--;
						time[2] = 59;
						document.getElementById((idPasso+"contadorPasso")).innerText = time[0]+":"+time[1]+":"+time[2];
						setTimeout(contagem,1,idPasso);
					}else{
						if (time[0]!=0){
							time[0]--;
							time[1] = 59;
							time[2] = 59;
							document.getElementById((idPasso+"contadorPasso")).innerText = time[0]+":"+time[1]+":"+time[2];
							setTimeout(contagem,1,idPasso);
						}else{
							document.getElementById (idPasso+"NextButton").disabled = false;
						}
					}
				}
			}
		</script>
		<!-- END: controlador -->
	</head>
	<body>
        <div class="menu">
            <ul class="nav nav-pills menu">
                <li role="presentation" ><a href="../index.php">Home</a></li>
                <li role="presentation" ><a href="#">Receitas</a></li>
                <!-- BEGIN: usuario -->
                <li role="presentation">
                    <a href="">{nomeUsuario}</a>
                </li>
                <li role="presentation" class="navbar-left">
                    <a href="../Servlet/ServletSair.php">Sair</a>
                </li>
                <!-- END: usuario -->
                <li role="presentation">
                    <!-- BEGIN: erro -->
                    <h5>Nome de usuario ou senha está incorreto!</h5>
                    <!-- END: erro -->
                    <!-- BEGIN: usuario -->
                    <a href="">{nomeUsuario}</a> | <a href="../Servlet/ServletSair.php">Sair</a>
                    <!-- END: usuario -->
                </li>
                <li role="presentation">
                    <form name="Buscar" action="../Controller/Buscar.php" method="GET" class="navbar-form navbar-left">
                        <input type="text" class="form-control"  name="CampoBusca">
                        <input type="submit" class="btn btn-default" value="Busca">
                    </form>
                </li>
                <!-- BEGIN: logar -->
                <li role="presentation">
                    <form name="Login" class="navbar-form navbar" action="../Servlet/ServletLogin.php" method="POST">
                        <div class="form-group">
                            <input type="text" name="Login" class="form-control" placeholder="Login" size="10">
                            <input type="password" name="Senha" class="form-control" placeholder="Senha" size="10">
                            <input type="submit" class="btn btn-default" value="Entrar">
                            <!-- BEGIN: erro -->
                            <div class="error">Nome de usuario ou senha está incorreto!</div>
                            <!-- END: erro -->
                        </div>
                    </form>
                </li>
                <!-- END: logar -->
            </ul>
        </div>
        <div class="col-md-4"></div>
		<!-- BEGIN: igredientes -->
        <div class="col-md-4  receita">
            <div id="-1Passo" style="display:block">
                <h4>Igredientes</h4>
                <h6>
                <!-- BEGIN: igrediente -->
                    {nomeIgrediente}:{qtdIgrediente} {medidaIgrediente}<br>
                <!-- END: igrediente -->
                </h6>
                <input type="button" value="Próximo passo" class="btn btn-lg btn-primary"id="NextButton" onclick="proximoPasso ();">
            </div>
            <!-- END: ingredientes -->
            <!-- BEGIN: passocont -->
                <div id="{idPasso}Passo" style="display:none">
                    <h4>{descricaoPasso}</h4>
                <input type="button" value="Começar"  onclick="contagem({idPasso});">
                    <h5 id="{idPasso}contadorPasso">{tempoPasso}</h5>
                    <input type="button" class="btn btn-lg btn-primary" value="Próximo passo" id="{idPasso}NextButton" onclick="proximoPasso ();" disabled>
                </div>
            <!-- END: passocont -->
            <!-- BEGIN: passoinstrucao -->
                <div id="{idPasso}Passo" style="display:none">
                    <h4>{descricaoPasso}</h4>
                    <input type="button" class="btn btn-lg btn-primary" value="Próximo passo" id="{idPasso}NextButton" onclick="proximoPasso ();">
                </div>
            <!-- END: passoinstrucao -->
            <!-- BEGIN: passofinal -->
                <div id="{idPasso}Passo" style="display:none">
                    <h4>Sua receita está pronta!</h4>
                </div>
            <!-- END: passofinal -->
        </div>
        </body>
</html>
<!-- END: main -->