.menu {
    background-color: #ffffff;
    height: 50px;
}

li{
    padding-left: 100px;
}
html,body{
    height: 100%;
}
.ColPad{
	background-color: #ADFF2F;
	margin-bottom:25px;
	padding:40px;
	border-radius:80px;
	width:90%;
	margin-right:0.1%;
}
.receita{
	margin-left:35%;
    text-align: center;
    margin-top: 15%;
    border-radius: 10%;
}
body{
    background-image: url("../img/busca.jpg");
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    overflow: hidden;
    opacity: 1;;
}